
h1{
text-align:center;
font-size:35px;
color:rgb(226,73,35);
font-weight:bold;
}

p.im
{
font-weight:bold;
font-size:18px;
color:black;
}

img.imgg{
display:block;
float:left;
}

p.para{


margin-left:400px;
line-height:2.0em;
}

h4{
font-size:25px;
font-weight:bold;
text-align:center;
color:red;

}



img.biceps{
display:block;
margin-top:220px;
margin-bottom:30px;
margin-left:auto;
margin-right:auto;

}


h5{
float:left;
font-weight:bold;
font-size:18px;
}


h6{
float:right;

font-size:15px;
}
